
 h1{
    padding: 50px;
    color: black;
    border-color: blue;

 }
 body{
    font-size: 14px;
 }
@media(max-width: 700px)
{
    body{
        font-size: 18px;
        background-color:blue ;
    }
}
.box1{
    background-color: blue;
    font-size: 18px;
}
.box4{
    background-color: black;
}


    